---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Блог";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <h1>{pageTitle}</h1>
    <p>На сайте опубликованы статьи, которые можно выбирать из списка ниже</p>
    <ul>
      {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
  </main>
</BaseLayout>
