---
const pageTitle = "Блог";

import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <div class="wrapper">
        <Navigation />
      </div>
    </header>

    <main>
      <h1>{pageTitle}</h1>
      <p>На сайте опубликованы статьи, которые можно выбирать из списка ниже</p>
      <ul>
        <li><a href="/posts/post-1/">Статья 1</a></li>
        <li><a href="/posts/post-2/">Статья 2</a></li>
        <li><a href="/posts/post-3/">Статья 3</a></li>
      </ul>
    </main>

    <footer>
      <h2>Подвал сайта</h2>
    </footer>
  </body>
</html>
