---

---

<style>
  /* .main-navigation {
    max-width: max-content;
    margin: 0 auto;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      margin-right: -12px;
      max-width: max-content;
      margin-bottom: -12px;
    }
    li {
      margin-right: 12px;
      margin-bottom: 12px;
    }
    a {
      padding: 10px 20px;
      text-align: center;
      font-weight: 600;
    }
  } */
</style>

<!-- <nav class="main-navigation nav-links">
  <ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/blog/">Блог</a></li>
    <li><a href="/about/">About</a></li>
  </ul>
</nav> -->

<div class="nav-links">
  <a href="/">Главная</a>
  <a href="/blog/">Блог</a>
  <a href="/about/">About</a>
</div>
